html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
}

header {
  padding-top: 35px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.logo {
  float: left;
  font-size: 30px;
  font-family: "Roboto", "Times New Roman", sans-serif;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
}
.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}
.nav-container {
  width: 1030px;
}
.nav-list {
  float: right;
}
.nav-list li {
  float: left;
}
.nav-list li:not(:last-child) {
  margin-right: 30px;
}

.nav-link a {
  font-size: 14px;
  font-family: "Open Sans", "Times New Roman";
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0101;
  transition: 0.3s;
}
.nav-link a:focus,
.nav-link a:hover {
  color: #1abc9c;
}

h2 {
  margin-bottom: 90px;
  text-align: center;
  font-size: 48px;
  font-family: "Roboto", "Times New Roman", sans-serif;
  font-weight: 900;
  line-height: 32px;
  text-transform: uppercase;
  color: #515151;
}
h2::after {
  content: "";
  display: block;
  width: 160px;
  border-bottom: 7px solid #1abc9c;
  padding-top: 35px;
  margin: 0 auto;
}

.products {
  padding-top: 100px;
}

.products-item {
  background-color: #e9f0fd;
  width: 255px;
  float: left;
}
.products-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}
.products-item:not(:nth-child(4n)) {
  margin-right: 30px;
}
.products-name {
  font-family: "Roboto", "Times New Roman", sans-serif;
  background-color: rgb(50, 50, 50);
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  font-weight: 700;
}

.products-name h3 {
  color: rgb(255, 255, 255);
  width: 170px;
  padding: 8px 14px;
  float: left;
  font-size: 18px;
}
.products-name p {
  color: rgb(255, 255, 255);
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.44);
  margin: 0px;
  float: right;
}
.products-name p::before {
  content: "\0024";
}
.products-item:focus .products-name,
.products-item:hover .products-name {
  background-color: #1abc9c;
}

.news {
  padding-top: 100px;
}
.news-post {
  float: left;
  width: 350px;
}
.news-post:not(:nth-child(3n)) {
  margin-right: 30px;
  margin-bottom: 80px;
}
.news-post h3 {
  padding-top: 12px;
  font-size: 18px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  color: #555252;
  font-weight: 600;
  line-height: 26px;
}

.news-post h3::after {
  content: "";
  display: block;
  width: 135px;
  border-bottom: 3px solid #1abc9c;
  padding-top: 10px;
}

.news-post p {
  padding-top: 28px;
  font-size: 14px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  color: #555252;
  line-height: 26px;
  font-weight: 400;
  transition: 0.3s;
  letter-spacing: -0.6px;
}

.button-read-news {
  padding-top: 12px;
  text-align: left;
}
.button-read-news button {
  font-size: 16px;
  font-family: "Open Sans", "Times New Roman", sans-serif;
  color: #ffffff;
  line-height: 26px;
  background-color: #4ec6ab;
  border-radius: 2px;
  border-style: none;
  padding: 15px 40px;
  font-weight: 300;
}
